* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
  height: 58px;
}

.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
}

.menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
}

.menu-items {
  position: relative;
  font-size: 14px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;;
  color: #687074;
}
.active_menu{
  border-bottom: 2px solid red;
}
.active_menu a{
  color: red;
}
/* color: #e74c3c; */

.menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}
.navs{
  right: 0;
  position: absolute;
  top: 16px;
  padding-right: 70px;
}
button span {
  margin-left: 3px;
}

.menu-items > a, .menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #f2f2f2;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

/* content */

.content {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* padding: 3rem 20px; */
}

.content h2 {
  margin-bottom: 1rem;
}

.content a {
  color: #cc3852;
  margin-right: 10px;
}



/* Slide Show */
.react-slideshow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.react-slideshow-container .nav {
  z-index: 10;
  position: absolute;
  cursor: pointer;
}

.react-slideshow-container .nav:first-of-type {
  left: 0;
}

.react-slideshow-container .nav:last-of-type {
  right: 0;
}

.react-slideshow-container .default-nav {
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  width: 30px;
  border: none;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
}

.react-slideshow-container .default-nav:hover,
.react-slideshow-container .default-nav:focus {
  background: #fff;
  color: #666;
  outline: none;
}

.react-slideshow-container .default-nav.disabled:hover {
  cursor: not-allowed;
}

.react-slideshow-container .default-nav:first-of-type {
  margin-right: -30px;
  border-right: none;
  border-top: none;
}

.react-slideshow-container .default-nav:last-of-type {
  margin-left: -30px;
}

.react-slideshow-container+ul.indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.react-slideshow-container+ul.indicators li {
  display: inline-block;
  position: relative;
  width: 7px;
  height: 7px;
  padding: 5px;
  margin: 0;
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator {
  border: none;
  opacity: 0.25;
  cursor: pointer;
  background: transparent;
  color: transparent;
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  content: '';
  background: #000;
  text-align: center;
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator:hover,
.react-slideshow-container+ul.indicators .each-slideshow-indicator.active {
  opacity: 0.75;
  outline: none;
}

.react-slideshow-fadezoom-wrapper {
  width: 100%;
  overflow: hidden;
}

.react-slideshow-fadezoom-wrapper .react-slideshow-fadezoom-images-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.react-slideshow-fadezoom-wrapper .react-slideshow-fadezoom-images-wrap>div {
  position: relative;
  opacity: 0;
}

.react-slideshow-wrapper .react-slideshow-fade-images-wrap>div[aria-hidden='true'] {
  display: none;
}

.react-slideshow-wrapper.slide {
  width: 100%;
  overflow: hidden;
}

.react-slideshow-wrapper .images-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.react-slideshow-wrapper .images-wrap>div[aria-hidden='true'] {
  display: none;
}
/*aboutus*/
.main-div{
 /* max-height: 2000px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

/*.col1,.col2{
  max-height: 1000;
  max-width: 900px; 

}*/
.row_flex{
  display :flex;
  width: 100%;
  max-height: 400px;
  justify-content: center;
}
.col_2{
width: 45%;
}
.welcome-title{
  height: 100px;
  width: 400px;
  padding-top: 70px;
  padding-left: 10px;
  font-size: 20px;
}

.purpose{
  height: 100px;
  width: 600px;
  margin: 40px;
  margin-left: 10px;
  padding-left: 2px;
}
.purpose p{
  height: 100px;
  width: 600px;
  margin-top: 30px;
}

.Feature
{
  height: 100px;
  width: 600px;
  margin: 70px;
  margin-left: 10px;
}

.Feature p{
  height: 100px;
  width: 600px;
  margin-top: 30px;
}

.TargetUser{
  height: 30px;
  width: 600px;
  margin-left: 10px;
}
.list{
  height: 10px;
 width: 600px;
  margin-top: 30px;
  padding: 10px;

}

.list ul li{
  margin-bottom: 8px;
}

.li {
  display: list-item;
  text-align: webkit-match-parent;
}

ul {
  list-style-type: disc;
}

.aboutus-oandulist{
  height: 100px;
  width: 600px;

}

.col1 img{
  height: 400px;
  width: 600px;
  margin-top: 100px;
  padding-top: 40px;
  
}
.col2 img{ 
  height: 400px;
  width: 550px;
  padding-top: 70px;
  padding-right: 20px;
} 

.aboutus-skill{
  margin:50px;

}

.aboutusskill-title{
  margin: 10px;
  border: 2px solid black;


}

.aboutusskill-title h4{
  
  text-transform: uppercase;
  margin: 20PX;
 
}

.aboutusskill-title ul{
  width: 450;
  margin: 30px;
}